* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.home {
  margin: 30px 0;
  
}
body {
  background-color: #c7c7c7;
  text-align: center;
  background: linear-gradient(to right, #c7c7c7, #ffffff);
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  position: fixed;
  padding: 0 50px;
  background: linear-gradient(to right, #c7c7c7, #ffffff);
  border-bottom: 1px solid black;
}
.headerTitle h1 {
  font-size: 30px;
}
a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.5px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
.navbar {
   display: flex;
  gap: 20px;
}

a:hover {
  color: black;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.mainpage {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 650px;
  margin: auto;
  align-items: center;
  padding: 30px 0px;
  min-height: 105vh;
}
.mainpage .home {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.home img {
  width: 15vw;
 
}
.hire_me {
  position: relative;
}
.home a {
  position: absolute;
  right: 5.7vw;
  top: 3.5vh;
  background: linear-gradient(90deg, #ff9a00, #ff003c, #f3eb55);
  border: 2px solid rgb(0, 0, 0);
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
  outline: none;
  text-decoration: none;
}
.home a:hover {
  background: linear-gradient(90deg, #036105, #ff9a00);
}

.rl {
  color: #eb9234;
  font-size: 40px;
}
.i {
  text-align: left;
  font-size: 50px;
}
.mainpageImg img {
  border-radius: 50px;
  border: 5px solid #c7c7c7;
  
}
nav a:hover {
  color: #eb9234;
}
/* ===About section=== */
#about {
  scroll-margin-top: 240px;
}
#skillsection {
  scroll-margin-top: 180px;
}

.aboutPage {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 20px;
  line-height: 20px;
  padding: 85px 10px;
  justify-content: space-between;
  min-height: 95vh;
}
.aboutBtn {
  width: 10vw;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 50px;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}
.aboutPage img {
  width: 100%;
}
.aboutPara {
  background-color: #d4d4d4;
  border: 1px solid black;
  padding: 30px;
  font-size: 20px;
  border-radius: 20px;
  line-height: 25px;
  font-weight: 400;
  font-style: normal;
}
/* ===Skills section=== */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.skillsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#SKILLS {
  margin-top: 60px; 
  color: #a7a7a7;
  font-size: 70px;
  margin-bottom: 50px;
}

.skill {
  width: 45%;
  margin-bottom: 20px;
}

.skill span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.progress {
  background-color: #545454;
  border-radius: 5px;
  height: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #f1c40f;
  border-radius: 5px;
}
/* ===Contact section=== */
.contactPage {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  align-items: center;
}
.contact_content:hover {
  background-color: rgba(212, 212, 212, 0.497);
}

.contact_content {
  gap: 15px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.contactMain {
  min-height: 90vh;
}

.contactImg {
  width: 40%;
}
.contactMain {
  margin: 50px 50px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactPage a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  main {
    width: 90%;
  }

  nav {
    justify-content: center;
  }

  .mainpage {
    flex-direction: column;
    width: 100%;
  }

  .aboutPage,
  .contactPage {
    flex-direction: column;
    align-items: center;
  }

  .aboutContent,
  .aboutImg,
  .contactContent,
  .contactImg {
    width: 100%;
  }

  .skills {
    flex-direction: column;
    gap: 30px;
  }

  .skill {
    width: 100%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  header {
    display: none;
  }

  .mainpage {
    flex-direction: column;
    padding: 20px;
  }

  .rl,
  .i {
    font-size: 2rem;
  }

  .aboutPage,
  .contactPage {
    flex-direction: column;
    align-items: center;
  }

  .aboutContent,
  .aboutImg,
  .contactContent,
  .contactImg {
    width: 100%;
  }

  .skills {
    flex-direction: column;
  }

  .skill {
    width: 100%;
  }
  .aboutImg {
    width: auto;
  }
  .aboutImg Img {
    height: 200px;
  }
}
